@import url('https://fonts.googleapis.com/css?family=Lilita+One|Lato');

body {
  background-color: #89c43a;
  padding-top: 16px;
  padding-right: 56px;
  padding-left: 56px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

#video-of-photobooth, #button-to-take-snap, #image-of-photobooth {
  text-align: center;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  width: 100%;
  padding-bottom: 1.5em;
}
.flex-container .box {
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  text-align: justify;
  padding: 10px;
}

.flex-container .box-content {
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  text-align: justify;
  padding: 10px;
  width: 90%;
}

h1{
	text-align: center;
	font-family: 'Lilita One', cursive;
	font-size: 55px;
  padding-bottom: 20px;
}

h2, h3 {
  font-family: 'Avenir', sans-serif;
}

h2 {
  color: #895229;
  font-weight: bolder;
}

h3{
  color: #836236;
}

#header{
  color: #ffffff;
}

video {
  margin-left: auto;
  margin-right: auto;
  display: block
}

#credits {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.country-name{
  text-align: center;
  margin-top: 0px;
  font-size: 19.5px;
}

.nav{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
    font-size: 20px;
}
.nav a{
    display:inline-block;
    padding:20px;
    text-decoration:none;
}